<html>
<head>
     <link rel="stylesheet" type="text/css" href="stylesheet2.css">
</head>
<body>
<div id="main">
<p>
After defecting the romans at the battle of lack trasimene,hannibal
now moved his forces dow south,there was panic in rome and quintus 
Fabius maximus was appointed dictator to deal with Hannibal.
Fabius,however,refused to meet  Hannibal in the open field and this strategy
became highly unpopular in Rome.Romans were use to attacking,not hiding.
The Romans were forced to go on the offensie after hannibal 
positioned his forces between Rome and it's vital grain supply.
This  setup the epic battle of Cannae.Here Hannibal defeated the Romans inflicting the worst single day
defeat in Rome's history.
</p>
<p>
After defecting the romans at the battle of lack trasimene,hannibal
now moved his forces dow south,there was panic in rome and quintus 
Fabius maximus was appointed dictator to deal with Hannibal.
Fabius,however,refused to meet  Hannibal in the open field and this strategy
became highly unpopular in Rome.Romans were use to attacking,not hiding.
The Romans were forced to go on the offensie after hannibal 
positioned his forces between Rome and it's vital grain supply.
This  setup the epic battle of Cannae.Here Hannibal defeated the Romans inflicting the worst single day
defeat in Rome's history.
</p>
</div>
<div id="main2">
<p>
After defecting the romans at the battle of lack trasimene,hannibal
now moved his forces dow south,there was panic in rome and quintus 
Fabius maximus was appointed dictator to deal with Hannibal.
Fabius,however,refused to meet  Hannibal in the open field and this strategy
became highly unpopular in Rome.Romans were use to attacking,not hiding.
The Romans were forced to go on the offensie after hannibal 
positioned his forces between Rome and it's vital grain supply.
This  setup the epic battle of Cannae.Here Hannibal defeated the Romans inflicting the worst single day
defeat in Rome's history.
</p>
<p>
After defecting the romans at the battle of lack trasimene,hannibal
now moved his forces dow south,there was panic in rome and quintus 
Fabius maximus was appointed dictator to deal with Hannibal.
Fabius,however,refused to meet  Hannibal in the open field and this strategy
became highly unpopular in Rome.Romans were use to attacking,not hiding.
The Romans were forced to go on the offensie after hannibal 
positioned his forces between Rome and it's vital grain supply.
This  setup the epic battle of Cannae.Here Hannibal defeated the Romans inflicting the worst single day
defeat in Rome's history.
</p>
</div>
</body>
</html>





